<div class="clr-row clr-align-items-center box">
  <div class="clr-col-1 clr-col-md-2"></div>
  <div class="clr-col-10 clr-col-md-8">
    <app-panel *ngIf="currentQuestion.QCode" [username]="username" [firstQ]="firstQ" [lastQ]="lastQ" [qsCode]="currentQuestion.QCode"
      (actionEvent)="receiveAction($event)"></app-panel>
      <div *ngIf="!currentQuestion.QCode">
        <h3>Saat ini data sudah tersedia.</h3>
        <h3>Terima kasih atas partisipasi Anda!</h3>
      </div>
  </div>
  <div class="clr-col-1 clr-col-md-2"></div>
</div>
<clr-modal [(clrModalOpen)]="openedDialog" [clrModalSize]="'sm'">
  <h3 class="modal-title">Data tersimpan</h3>
  <div class="modal-body">
    <p>Terima kasih atas partisipasinya</p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-success" (click)="openedDialog = false">Ok</button>
  </div>
</clr-modal>