.content input{
    width: 100%;
    min-height: 50%;
    margin-top: 20px;
}

.span-list{
    border:#ccc 1px solid;
}

.content li{
    background: #fff;
    padding: 5px;
}

.content li:hover{
    background: #8AC43F;
    color:#fff;
}

.questions div{
    background: rgb(189, 228, 139);
}